[Desktop Entry]
Name=Nexo Browser
Comment=Fast lightweight web browser
Exec=nexo %U
Icon=nexo
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
